.footer {
    background-color: var(--background-footer);
    padding: 3em 0 3em 0;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    width: 95%;
}

.footer-text {
    color: white;
}

.footer-description {
    text-align: right;
}

.footer-description .hovered {
    display: none;
}

.footer-description:hover .hovered {
    display: inline;
}

.footer-description:hover .unhovered {
    display: none;
}

@media (width <=1000px) {
    .footer {
        font-size: 8px;
    }
}
