.md-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.md-container .title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.md-content {
    width: 50%;
    padding: 1em 2em 1em 2em;
}

.md-container blockquote {
    background-color: var(--background-drulple);
    padding: 1em;
    border-radius: var(--rounded-border);
}

.md-container blockquote p {
    margin: 0;
}

.md-container h1 {
    background-color: var(--background-drulple);
    text-align: center;
    padding: 0.5em;
    margin: 0;
    color: var(--header-1);
    border-radius: var(--rounded-border);
}

.md-content h2 {
    padding-bottom: 0.3em;
    border-bottom: 2px solid #2e2e3a;
}

.md-content h3 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #2d2d44;
}

.md-container .cite-note {
    font-size: 0.7em;
    text-decoration: none;
}

.md-cite-notes {
    background-color: var(--background-drulple);
    padding: 1em;
    border-radius: var(--rounded-border);
    margin-top: 2em;
}

.md-cite-notes ol {
    padding-left: 2em;
    margin: 0;
    margin-top: 1em;
}

.md-cite-notes li {
    margin: 0.3em;
}

.md-cite-notes li:target {
    background-color: var(--background-brighter);
    color: var(--link-visited);
    font-weight: bold;
    padding: 0.25em;
}

.md-cite-notes li:target a {
    color: var(--text);
}

.md-tags {
    display: flex;
    justify-content: end;
    flex-flow: wrap;
    font-size: 14px;
}

.md-tags a {
    background-color: var(--background-drulple);
    padding: 0.5em;
    margin-top: 1em;
    margin-left: 1em;
    border-radius: var(--rounded-border);
}

.md-tags a strong {
    font-weight: normal;
}

.md-table-of-contents-desktop {
    height: 100%;
    width: 20%;
    margin-top: 1em;
    margin-left: 1em;
}

.md-table-of-contents-content-desktop {
    position: fixed;
    width: calc(20% - 2em);
}

.md-table-of-contents-mobile {
    display: none;
    width: calc(100% - 2em);
}

.md-table-of-contents-content {
    padding: 1em;
    background-color: var(--background-drulple);
    border-radius: var(--rounded-border);
}

.md-table-of-contents-content ul {
    list-style-type: none;
    padding-left: 2em;
    margin: 0;
}

.md-table-of-contents-content .first-ul {
    margin-top: 1em;
    padding-left: 0;
}

.md-table-of-contents-content li {
    margin-top: 0.5em;
}

.md-table-of-contents-content .top {
    color: var(--text);
}

.md-table-of-contents-content a {
    text-decoration: none;
}

.md-table-of-contents-content a:hover {
    text-decoration: underline;
}

.md-content-data {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    font-weight: 300;
    color: var(--text-hint);
}

.md-content-data div {
    margin: 1em 0.5em 1em 0.5em;
}

@media (width <=1600px) {
    .md-content {
        width: 70%;
    }

    .md-table-of-contents-dummy {
        display: none;
    }
}

@media (width <=1100px) {
    .md-content {
        width: 80%;
    }
}

@media (width <=1000px) {
    .md-content {
        width: calc(100% - 2em);
        padding: 1em;
    }

    .md-content p {
        text-align: justify;
        text-justify: inter-word;
    }

    .md-container blockquote {
        margin-left: 0;
        margin-right: 0;
    }

    .md-table-of-contents-desktop {
        display: none;
    }

    .md-table-of-contents-mobile {
        display: inline-block;
    }

    .md-tags {
        justify-content: center;
    }

    .md-tags a {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}
