<!-- End Header's content div -->
</div>

<link rel="stylesheet" href="/static/css/footer.css">

<footer class="footer">
    <div class="footer-text">
        <b>Vixenka.com</b>
        <br>
        Copyright <span class="system-ui">©</span> 2024
    </div>
    <div class="footer-description">
        <b class="unhovered">Unbelievable, crazy, and dangerous ideas</b>
        <b class="hovered">Reliable, fast, beloved, and funny ideas</b>
        <br>
        Developed with partial application of occupational health and safety
    </div>
</footer>

</body>

</html>
