<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>

    <meta property="og:title" content="{{title}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://vixenka.com/{{link}}">
    <meta property="og:image" content="https://vixenka.com/static/img/avatar@1.webp">
    <meta property="og:description" content="{{description}}">
    <meta name="theme-color" content="#f7a8b8">

    <meta charset="utf-8" />
    <meta name="description" content="{{description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Preload -->
    <link rel="preload" href="/static/themes/default.css" as="style">
    <link rel="preload" href="/static/css/main.css" as="style">
    <link rel="preload" href="/static/css/header.css" as="style">
    <link rel="preload" href="/static/fonts/Oxygen-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/Oxygen-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/Oxygen-Light.woff2" as="font" type="font/woff2" crossorigin>

    <!-- Styles -->
    <link rel="stylesheet" href="/static/themes/default.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/header.css">

    <!-- Favicons - Generated via https://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/img/favicons/site.webmanifest">
    <link rel="mask-icon" href="/static/img/favicons/safari-pinned-tab.svg" color="#f7a8b8">
</head>

<body>
    <nav class="header no-select">
        <a href="/" class="header-logo">
            <img sizes="(max-width: 1024px) 100vw, 1024px" srcset="
                /static/img/avatar@4.webp 200w,
                /static/img/avatar@3.webp 599w,
                /static/img/avatar@2.webp 1007w,
                /static/img/avatar@1.webp 1024w" src="/static/img/avatar@1.webp" alt="Vixenka.com">
        </a>
        <a href="/#blog">/blog</a>
    </nav>
    <div class="content">
